<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <div class="d-flex justify-content-center">
            <button type="button" class="me-auto btn btn-dark" onclick="history.back()">Back</button>
        </div>
        <h1 class="text-center">Edit Ad Form</h1>
        <br>
        <div class="col-6 offset-3">

            <form action="/ad/edit/<%= a._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="title"
                        value="<%= a.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please tell us what this is.
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-file form-file">
                        <label for="formFile" class="form-label">
                            <span>Upload image(s):</span>
                            <i><span class="custom-file-label"></span></i>
                        </label>
                        <input type="file" class="form-control custom-file-input" name="adNewPics" id="formFile" multiple>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" required name="description"
                        placeholder="description"><%= a.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please tell us more about your product.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="location" id="location" required
                        placeholder="location" value="<%= a.location %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please tell us where you are.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="link" class="form-label">Store Link</label>
                    <input type="text" class="form-control" name="link" id="link" placeholder="link" value="<%= a.link %> " required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please tell us where to buy this.
                    </div>
                </div>
                <div class="mb-3">
                    <% a.images.forEach((img,i)=>{ %> 
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%= i %>">
                        </div>
                        <label for="image-<%= i %>">Delete?</label>
                    <% }) %> 
                </div>
                <div class="mb-3">
                    <input class="btn btn-success" type="submit" value="Update">
                </div>

            </form>

        </div>
    </div>